@import "tailwindcss";

:root {
  /* Cores Base */
  --background: #050505; /* Preto Quase Absoluto */
  --foreground: #F3F3F3; /* Branco Suave */
  
  /* Cores de Destaque */
  --primary: #2E0249; /* Roxo Profundo */
  --primary-foreground: #FFFFFF;
  --secondary: #570A57; /* Roxo Vibrante */
  --secondary-foreground: #FFFFFF;
  
  /* Cores de Suporte */
  --muted: #1A1A1A;
  --muted-foreground: #A3A3A3;
  --accent: #2E0249;
  --accent-foreground: #FFFFFF;
  --border: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
